<div class="row admin-header">
    <div class="col-lg-6 col-md-6 col-sm-6 col-6 align-item-center">
        <div class="admin-header-left">
            <i class="ri-bar-chart-horizontal-line" id="admin-sidebar-toggle"></i>
            <h2 class="admin-header-title">
                {{page_title}}
            </h2>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
        <div class="admin-header-right">
            <h2 style="text-align: right; margin: 0;">user</h2>
        </div>
    </div>
</div>