    <link rel="stylesheet" href="/stylesheets/admin/admin.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="admin-sidebar" class="col-lg-2 col-md-3 vh-100 bg-light admin-mobile-sidebar admin-sidebar-hidden z-3">
                {{>admin-sidebar}}
            </div>
            <div class="col admin-content">
                {{>admin-header}}
            </div>
        </div>
    </div>

    <script defer src="/javascripts/admin/admin.js"></script>
    